.shoppingItemContainer {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    text-align: start;
    margin: auto;
    margin-top: 0.5rem;
    align-items: center;
}

.shoppingItemContainer label {
    color: black;
}

.shoppingItemContainer button {
    padding: 0.4rem 0.8rem;
    background: royalblue;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;
    border: none;
}

.shoppingItemContainer button:hover {
    background: rgba(65, 105, 225, 0.9);
}